.container-fluid {
    position: absolute;
    top: 23%;
}

@media (max-width: 1080px) {
    .container-fluid {
        position: absolute;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}